<!-- -*- xml -*-
  -->

<launch>

<!-- MAVROS -->
	<arg name="fcu_url" default="/dev/ttySAC0:115200" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

<!-- USB_CAM -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
	<param name="framerate" value="10" />
  </node>

<!-- IMAGE_SAVER -->
  <node name="image_saver" pkg="image_view" type="image_saver" args="image:=/usb_cam/image_raw" output="screen" >
    <param name="filename_format" value="/home/odroid/zdj/image%04d.jpg" />
    <param name="save_all_image" value="false" />
  </node>

<!-- IMAGE_SAVER_2 -->
  <node name="image_saver_2" pkg="image_view" type="image_saver" args="image:=/usb_cam/image_raw" output="screen" >
    <param name="filename_format" value="/home/odroid/zdj2/image%04d.jpg" />
    <param name="save_all_image" value="false" />
  </node>
</launch>
